{% load staticfiles %}
<html>
    <head>
        <title>OperonDB - {{ title }}</title>
        <link rel="stylesheet" href="{% static "css/jquery-ui/1.10.4/jquery-ui-1.10.4.min.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "css/navbar.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "css/footer.css" %}" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ head }}
    </head>
    <body>
        <div id="wrap">
            <div>
                <div class="navbar navbar-fixed-top blueBar" role="navigation">
                    <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-custom-text" href="#">
                            <span class="facebookLogo">Chat Analysis</span>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">

                    </div><!--/.navbar-collapse -->
                </div>

            </div>
            <div>
                {{ page }}
            </div>
        </div>
        <div>
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit">Copyright 2014 David Ream, Andrew Oberlin</p>
                    <p class="text-muted credit">
                        <a href="http://iddo-friedberg.net/lab.html" target="_blank">
                            Friedberg Lab, Miami University
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </body>
    {{ scripts }}
</html>
